@import "tailwindcss/base";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    @apply bg-gray-900;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,


body {
  color: rbg(--foreground-rgb);
  /* @apply bg-gray-900; */
}

a {
  color: inherit;
  text-decoration: none;
}

.card {
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  @apply dark:bg-gray-800;
  @apply dark:text-white;
}

.txtbody {
  @apply text-xl dark:text-gray-100 text-gray-900;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
